<div class="raml-console-vbs-keyword-group-widget-container">
  <a class="raml-console-meta-button" ng-click="keywordWidgetCtrl.toggleWidget()">
    <span>Keywords spotting widget</span>
  </a>

  <div class="raml-console-vbs-popup" ng-show="keywordWidgetCtrl.isShowWidget">
    <div class="raml-console-vbs-popup-close" ng-click="keywordWidgetCtrl.hideWidget()">x</div>
    <div class="raml-console-vbs-popup-body">
      <css-spinner ng-if="keywordWidgetCtrl.isLoaded"></css-spinner>
      <div ng-if="!keywordWidgetCtrl.isLogin && !keywordWidgetCtrl.isLoaded" class="raml-console-error-message">Please sign in</div>
      <div ng-if="keywordWidgetCtrl.errorMessage && !keywordWidgetCtrl.isLoaded" class="raml-console-error-message">{{ keywordWidgetCtrl.errorMessage }}</div>

      <div class="raml-console-keywords-group-list">
        <div class="raml-console-keywords-group-list-item" ng-repeat="keywordGroup in keywordWidgetCtrl.keywordGroups.groups">
          <div class="raml-console-keywords-group-list-item-cell">
            <a href="javascript:void(0)" class="raml-console-keywords-group-name">{{ keywordGroup.name }}</a>
          </div>
          <div class="raml-console-keywords-group-list-item-cell raml-console-keywords-group-list-item-toolbar">
            <a href="javascript:void(0)" class="raml-console-keywords-group-delete" ng-click="keywordWidgetCtrl.removeGroup(keywordGroup.name)">
              <span>x</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
