<div class="raml-console-vbs-keyword-group-widget-container">
  <a class="raml-console-meta-button" ng-click="keywordWidgetCtrl.toggleWidget()" ng-if="keywordWidgetCtrl.isPopup">
    <span>Keywords spotting widget</span>
  </a>

  <div class="raml-console-vbs-popup" ng-show="keywordWidgetCtrl.isShowWidget">
    <div class="raml-console-vbs-popup-header" ng-if="keywordWidgetCtrl.isPopup">
      <h3 class="raml-console-vbs-popup-title">Keyword Spotting Groups</h3>
      <div class="raml-console-vbs-popup-close" ng-click="keywordWidgetCtrl.hideWidget()">
        <i class="fa fa-remove"></i>
      </div>
    </div>

    <div class="raml-console-vbs-popup-body">
      <div class="panel panel-default raml-console-panel">
        <!--Toolbar-->
        <div class="list-group raml-console-keyword-group-toolbar" ng-if="keywordWidgetCtrl.isLogin">
          <a class="list-group-item raml-console-add-group"
             data-toggle="tooltip" data-placement="bottom" title="Add Keyword Spotting Group"
             ng-click="keywordWidgetCtrl.startCreateGroup()"
             ng-show="!keywordWidgetCtrl.createLoading">

            <h4 class="list-group-item-heading raml-console-item-heading">
              <i class="fa fa-plus-circle"></i>
              Add Keyword Spotting Group
            </h4>

          </a>
          <css-spinner ng-show="keywordWidgetCtrl.createLoading"></css-spinner>
        </div>

        <css-spinner ng-if="keywordWidgetCtrl.isLoaded"></css-spinner>
        <div ng-if="!keywordWidgetCtrl.isLogin && !keywordWidgetCtrl.isLoaded" class="raml-console-error-message">Please sign in</div>
        <div ng-if="keywordWidgetCtrl.errorMessage && !keywordWidgetCtrl.isLoaded" class="raml-console-error-message">{{ keywordWidgetCtrl.errorMessage }}</div>

        <div class="panel-heading" ng-if="!keywordWidgetCtrl.isLoaded && keywordWidgetCtrl.isLogin">
          <h3 class="panel-title">Your Groups</h3>
        </div>

        <div class="list-group raml-console-keywords-group-list">
          <a class="list-group-item raml-console-keywords-group-list-item"
             dir-paginate="keywordGroup in keywordWidgetCtrl.keywordGroups.groups | itemsPerPage: keywordWidgetCtrl.groupsPerPage"
             current-page="keywordWidgetCtrl.currentPage"
             ng-click="keywordWidgetCtrl.startEditGroup(keywordGroup)">

            <h4 class="list-group-item-heading raml-console-keywords-group-name">{{ keywordGroup.name }}</h4>
            <small class="list-group-item-text">{{ keywordGroup.keywords | keywordsFilter }}</small>
            <i class="fa fa-times-circle raml-console-keywords-group-remove"
               data-toggle="tooltip" data-placement="top" title="Delete group"
               ng-click="keywordWidgetCtrl.startRemovingGroup(keywordGroup, $event)"
               ng-show="!keywordGroup.startDelete && !keywordGroup.startEdit">
            </i>

            <css-spinner ng-if="keywordGroup.startDelete || keywordGroup.startEdit"></css-spinner>
          </a>
        </div>

        <div class="raml-console-keywords-pagination" >
          <dir-pagination-controls
            template-url="pagination/dirPagination.tpl.html">
          </dir-pagination-controls>
        </div>

      </div>

    </div>
  </div>

  <script type="text/ng-template" id="editKeywordGroupModal.html">
    <div class="modal fade" data-backdrop="static">
      <div class="modal-dialog">
        <div class="modal-content raml-console-modal">
          <div class="modal-header raml-console-modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
            <h4 class="modal-title raml-console-modal-title">{{ mode === 'create' ? 'Add' : 'Edit' }} Keyword Spotting Group</h4>
          </div>
          <div class="modal-body">
            <form class="form-horizontal" name="keywordGroupForm" novalidate focus-form>
              <keyword-group-form keyword-group="keywordGroup"></keyword-group-form>
            </form>
          </div>
          <div class="modal-footer raml-console-modal-footer">
            <button type="button" class="btn btn-success" ng-click="groupSave()">
              <i class="fa fa-check"></i>
              Save
            </button>
            <button type="button" class="btn btn-danger" data-dismiss="modal">
              <i class="fa fa-times"></i>
              Cancel
            </button>
          </div>
        </div>
      </div>
    </div>
  </script>

  <script type="text/ng-template" id="removeKeywordGroupModal.html">
    <div class="modal fade" data-backdrop="static">
      <div class="modal-dialog">
        <div class="modal-content raml-console-modal">
          <div class="modal-header raml-console-modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
            <h4 class="modal-title raml-console-modal-title">Remove Keyword Spotting Group</h4>
          </div>
          <div class="modal-body">
            <p class="raml-console-confirmation-message">Are you sure you want to delete keyword group?</p>
          </div>
          <div class="modal-footer raml-console-modal-footer">
            <button type="button" class="btn btn-success" ng-click="removeGroup()">
              <i class="fa fa-check"></i>
              Remove
            </button>
            <button type="button" class="btn btn-danger" data-dismiss="modal">
              <i class="fa fa-times"></i>
              Cancel
            </button>
          </div>
        </div>
      </div>
    </div>

  </script>

</div>

