<div class="panel panel-default raml-console-panel keywords-spotting">
  <div class="drop-box"
       ng-if="keywordsSpottingCtrl.isLogin"
       ngf-drop ngf-select ng-model="keywordsSpottingCtrl.files"
       ngf-drag-over-class="dragover" ngf-allow-dir="false"
       ngf-accept="'.mp3,.mp4'">

    <div class="drop-box-text">
      <div>
        <i class="drop-box-text__icon fa fa-2x fa-cloud-upload"></i>
        <div class="drop-box-text__label">Drop file here to upload, or browse</div>
      </div>
    </div>

    <div class="drop-box-text">
      <div class="media-preview-container" ng-if="keywordsSpottingCtrl.isAudio()">
        <audio controls class="media-preview"
               ngf-src="keywordsSpottingCtrl.files[0]"
               ngf-accept="'audio/*'">

        </audio>
      </div>
      <div class="media-preview-container" ng-if="keywordsSpottingCtrl.isVideo()">
        <video controls class="media-preview"
               ngf-src="keywordsSpottingCtrl.files[0]"
               ngf-accept="'video/*'">
        </video>
      </div>
    </div>

  </div>

  <div ng-if="keywordsSpottingCtrl.isLoaded" class="media-upload-loader">
    <css-spinner></css-spinner>
  </div>

  <div ng-if="keywordsSpottingCtrl.pingProcess"  class="media-processing-loader">
    <css-spinner></css-spinner>
  </div>

  <div ng-if="!keywordsSpottingCtrl.isLogin" class="raml-console-error-message">Please sign in</div>
</div>
