<div class="panel panel-default raml-console-panel keywords-spotting">
  <div class="alert alert-danger" role="alert" ng-if="keywordsSpottingCtrl.errorMessage">
    <button type="button" class="close" ng-click="keywordsSpottingCtrl.errorMessage = ''"><span aria-hidden="true">&times;</span></button>
    {{ keywordsSpottingCtrl.errorMessage }}
  </div>
  <div ng-if="keywordsSpottingCtrl.isLogin">
    <div class="drop-box form-group"
         ngf-drop
         ngf-select
         ng-model="keywordsSpottingCtrl.files"
         ngf-drag-over-class="dragover"
         ngf-allow-dir="false"
         ngf-multiple="true"
         ngf-accept="keywordsSpottingCtrl.validateFormat($file)"
         ngf-change="keywordsSpottingCtrl.changeFiles($files, $event)"
         ng-disabled="!keywordsSpottingCtrl.isEnableFileSelect"
         ng-class="!keywordsSpottingCtrl.isEnableFileSelect ? 'drop-box__disabled' : ''">

      <div class="drop-box-text" ng-class="!keywordsSpottingCtrl.isEnableFileSelect ? 'drop-box-inner__disabled' : ''">
        <div>
          <i class="drop-box-text__icon fa fa-2x fa-cloud-upload"></i>
          <div class="drop-box-text__label">
            Drop file here to upload, or <a href="#" class="drop-box-text__link">browse</a>
          </div>
        </div>
      </div>

      <div class="drop-box-all-preview" ng-class="!keywordsSpottingCtrl.isEnableFileSelect ? 'drop-box-inner__disabled' : ''">
        <div class="drop-box-preview" ng-repeat="_file in keywordsSpottingCtrl.uploadFiles">

          <div class="drop-box-text__file-header drop-box-preview__cell">
            <span class="drop-box-text__file-name">{{ _file.name }}</span>
          </div>

          <div class="media-preview-container drop-box-preview__cell" ng-if="keywordsSpottingCtrl.isAudio(_file)">
            <audio controls class="media-preview"
                   ngf-src="_file"
                   ngf-accept="'audio/*'">

            </audio>
          </div>
          <div class="media-preview-container drop-box-preview__cell" ng-if="keywordsSpottingCtrl.isVideo(_file)">
            <video controls class="media-preview"
                   ngf-src="_file"
                   ngf-accept="'video/*'">
            </video>
          </div>

          <div class="drop-box-text__file-buttons drop-box-preview__cell">
            <button type="button" class="close"
                    data-toggle="tooltip" data-placement="top" title="Delete file"
                    ng-click="keywordsSpottingCtrl.removeFile(_file, $event)"
                    ng-if="keywordsSpottingCtrl.isEnableFileSelect">
              <i class="fa fa-times"></i>
            </button>
          </div>

        </div>
      </div>

      <div class="drop-box-text" ng-if="keywordsSpottingCtrl.uploadFiles.length > 1 && keywordsSpottingCtrl.isEnableFileSelect">
        <button type="button" class="btn btn-danger"
                ng-click="keywordsSpottingCtrl.removeAllFiles($event)">
          Remove All Files
          <i class="fa fa-times"></i>
        </button>
      </div>

      <div class="drop-box-text" ng-if="keywordsSpottingCtrl.showStartOverBtn">
        <button type="button" class="btn btn-success"
                ng-click="keywordsSpottingCtrl.startOver($event)">
          Start Over
          <i class="fa fa-undo"></i>
        </button>
      </div>

    </div>

    <div class="form-group" ng-if="!keywordsSpottingCtrl.createLoading && keywordsSpottingCtrl.isEnableFileSelect">
      <button type="button" class="btn btn-link add-keyword"
              change-keyword-group
              modal-keyword-group-mode="create"
              change-group-callback="keywordsSpottingCtrl.createGroup">
        <i class="fa fa-plus-circle"></i>
        Add Phrase Spotting Group
      </button>
    </div>
    <div ng-if="keywordsSpottingCtrl.createLoading" class="create-group-loader">
      <css-spinner></css-spinner>
    </div>

    <div ng-if="!keywordsSpottingCtrl.isLoadedGroups" class="form-group">
      <ui-select multiple
                 ng-model="keywordsSpottingCtrl.detectGroups"
                 ng-disabled="!keywordsSpottingCtrl.isEnableFileSelect"
                 ng-if="keywordsSpottingCtrl.checkDropdownVisibility(keywordsSpottingCtrl.detectGroups)">
        <ui-select-match placeholder="Select groups...">{{ $item.name }}</ui-select-match>
        <ui-select-choices repeat="group in keywordsSpottingCtrl.keywordGroups | filter:$select.search">
          {{ group.name }}
        </ui-select-choices>
      </ui-select>
    </div>
    <div ng-if="keywordsSpottingCtrl.isLoadedGroups" class="groups-loader">
      <css-spinner></css-spinner>
    </div>

    <div ng-if="!keywordsSpottingCtrl.isLoadedModels" class="form-group">
      <ui-select multiple
                 ng-model="keywordsSpottingCtrl.runModels"
                 ng-disabled="!keywordsSpottingCtrl.isEnableFileSelect"
                 ng-if="keywordsSpottingCtrl.checkDropdownVisibility(keywordsSpottingCtrl.runModels)">
        <ui-select-match placeholder="Select models...">{{ $item.displayName }}</ui-select-match>
        <ui-select-choices repeat="model in keywordsSpottingCtrl.predictionModels | filter:$select.search">
          {{ model.displayName }}
        </ui-select-choices>
      </ui-select>
    </div>
    <div ng-if="keywordsSpottingCtrl.isLoadedModels" class="groups-loader">
      <css-spinner></css-spinner>
    </div>


    <div ng-if="!keywordsSpottingCtrl.isLoaded && !keywordsSpottingCtrl.pingProcess" class="form-group">
      <button type="button" class="btn btn-success" ng-click="keywordsSpottingCtrl.upload()">Upload</button>
    </div>

    <div ng-if="keywordsSpottingCtrl.isLoaded">
      <div class="progress-bar__label">Uploading...</div>
      <progress-bar
        data-loaded="keywordsSpottingCtrl.uploadedState"
        data-bar-class="progress-bar-info"
        title="Total Hours Progress">
        {{ keywordsSpottingCtrl.uploadedState }}
      </progress-bar>
    </div>

    <div ng-if="keywordsSpottingCtrl.pingProcess">
      <div class="media-processing-loader">
        <css-spinner></css-spinner>
      </div>
      <d3-dag-graph></d3-dag-graph>
    </div>

    <voicebase-accordion uploaded-data="keywordsSpottingCtrl.uploadedData" is-show="keywordsSpottingCtrl.finishedUpload"></voicebase-accordion>

  </div>

  <div ng-if="!keywordsSpottingCtrl.isLogin" class="raml-console-error-message">Please sign in</div>
</div>
