<div class="raml-console-keywords-group-list-item-form">
  <div class="raml-console-sidebar-input-container">
    <label for="groupName" class="raml-console-sidebar-label">
      Detection Group Name
      <span class="raml-console-side-bar-required-field">*</span>
    </label>
    <input type="text" name="groupName" required="true" maxlength="64" class="raml-console-sidebar-input raml-console-sidebar-input-custom" ng-model="keywordGroup.name"/>
    <span class="raml-console-field-validation-error"></span>
  </div>
  <div class="raml-console-sidebar-input-container">
    <label for="description" class="raml-console-sidebar-label">Detection Description</label>
    <textarea name="description" maxlength="1000" ng-model="keywordGroup.description" class="raml-console-sidebar-textarea"></textarea>
  </div>
  <div class="raml-console-sidebar-input-container">
    <label class="raml-console-sidebar-label">Words/Phrases to detect</label>
    <div class="raml-console-keywords-list-container" data-scroll-to-top='keywordGroup.keywords.length'>
      <div class="raml-console-keyword-container"
           ng-repeat="keyword in keywordGroup.keywords track by $index"
           ng-init="formName = 'keyword' + $index">
          <ng-form name="tempForm">
            <div class="raml-console-sidebar-input-container">
              <input type="text" maxlength="64" name="{{ formName }}" required="true" class="raml-console-sidebar-input raml-console-sidebar-input-custom raml-console-keyword-input"
                     ng-model="keywordGroup.keywords[$index]"
                     input-max-word-validate />
              <span class="raml-console-multi-errors">
                <span class="raml-console-vbs-validation-error raml-console-vbs-validation-required">Required</span>
                <span class="raml-console-vbs-validation-error raml-console-vbs-validation-many-words-error">Maximum 10 words</span>
              </span>
            </div>
          </ng-form>
        <a href="javascript:void(0)" class="raml-console-icon-delete" ng-click="removeKeyword($index)" title="Remove word/phrase">
          <span>&#10006;</span>
        </a>
      </div>
    </div>
    <a href="javascript:void(0)" class="raml-console-icon raml-console-icon-plus" ng-click="addKeyword()">
      Add a Word/Phrase
    </a>
  </div>
</div>
