<div class="raml-console-vbs-keyword-group-widget-container">
  <a class="raml-console-meta-button" ng-click="keywordWidgetCtrl.toggleWidget()">
    <span>Keywords spotting widget</span>
  </a>

  <div class="raml-console-vbs-popup" ng-show="keywordWidgetCtrl.isShowWidget">
    <div class="raml-console-vbs-popup-header">
      <h2 class="raml-console-vbs-popup-title">Keyword Spotting Groups</h2>
      <div class="raml-console-vbs-popup-close" ng-click="keywordWidgetCtrl.hideWidget()"></div>
    </div>

    <div class="raml-console-vbs-popup-body">

      <!--Toolbar-->
      <div class="raml-console-popup-body-toolbar">
        <a href="javascript:void(0)" class="raml-console-icon raml-console-icon-plus" ng-click="keywordWidgetCtrl.startCreateGroup()" ng-show="!keywordWidgetCtrl.createLoading">
          Create Group
        </a>
        <css-spinner ng-show="keywordWidgetCtrl.createLoading"></css-spinner>
      </div>

      <css-spinner ng-if="keywordWidgetCtrl.isLoaded"></css-spinner>
      <div ng-if="!keywordWidgetCtrl.isLogin && !keywordWidgetCtrl.isLoaded" class="raml-console-error-message">Please sign in</div>
      <div ng-if="keywordWidgetCtrl.errorMessage && !keywordWidgetCtrl.isLoaded" class="raml-console-error-message">{{ keywordWidgetCtrl.errorMessage }}</div>

      <!--Create group form-->
      <div class="raml-console-create-group-form raml-console-clearfix" ng-show="keywordWidgetCtrl.showCreateForm">
        <form name="keywordWidgetCtrl.createKeywordGroupForm" novalidate focus-form ng-submit="keywordWidgetCtrl.createGroup($event)">
          <keyword-group-form keyword-group="keywordWidgetCtrl.newGroup"></keyword-group-form>
          <input type="submit" value="Create" class="raml-console-sidebar-action raml-console-sidebar-action-get"/>
          <input type="button" value="Cancel" class="raml-console-sidebar-action raml-console-sidebar-action-reset" ng-click="keywordWidgetCtrl.showCreateForm = false;"/>
        </form>
      </div>

      <!--groups list-->
      <div class="raml-console-keywords-group-list">
        <div class="raml-console-keywords-group-list-item" ng-repeat="keywordGroup in keywordWidgetCtrl.keywordGroups.groups">
          <div class="raml-console-keywords-group-list-item-cell">
            <a href="javascript:void(0)" class="raml-console-keywords-group-name" ng-click="keywordWidgetCtrl.toggleGroupForm(keywordGroup)">{{ keywordGroup.name }}</a>
          </div>
          <div class="raml-console-keywords-group-list-item-cell raml-console-keywords-group-list-item-toolbar">
            <a href="javascript:void(0)" class="raml-console-icon-delete" ng-click="keywordWidgetCtrl.removeGroup(keywordGroup)" title="Delete group" ng-show="!keywordGroup.startDelete && !keywordGroup.startEdit">
              <span>&#10006;</span>
            </a>
            <css-spinner ng-if="keywordGroup.startDelete || keywordGroup.startEdit"></css-spinner>
          </div>

          <div class="raml-console-keywords-group-list-item-form" ng-if="keywordGroup.expanded">
            <ng-form name="keywordWidgetCtrl.editKeywordGroupForm" novalidate focus-form>
              <keyword-group-form keyword-group="keywordGroup"></keyword-group-form>
              <input type="button" value="Edit" class="raml-console-sidebar-action raml-console-sidebar-action-get" ng-click="keywordWidgetCtrl.editGroup(keywordGroup)"/>
              <input type="button" value="Cancel" class="raml-console-sidebar-action raml-console-sidebar-action-reset" ng-click="keywordGroup.expanded = false;"/>
            </ng-form>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
