<div>
  <div class="form-group">
    <label class="control-label col-sm-4 raml-console-keyword-label">
      Detection Group Name
      <span class="raml-console-side-bar-required-field">*</span>
    </label>

    <div class="col-sm-8">
      <input class="form-control" type="text" placeholder="Name" name="groupName" required="true" maxlength="64"
             ng-model="keywordGroup.name">
      <span class="raml-console-bootstrap-error raml-console-field-validation-error col-sm-12"></span>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-4 raml-console-keyword-label">Detection Group Description</label>

    <div class="col-sm-8">
      <textarea class="form-control" placeholder="Description" name="description" maxlength="1000"
                ng-model="keywordGroup.description"></textarea>
    </div>
  </div>
  <hr/>
  <div class="form-group">
    <label class="control-label col-sm-4 raml-console-keyword-label">Words/Phrases to detect</label>

    <div class="col-sm-6">
      <div class="raml-console-keywords-list-container" data-scroll-to-bottom='keywordGroup.keywords.length'>
        <div ng-repeat="keyword in keywordGroup.keywords track by $index">
          <ng-form name="keywordForm" class="input-group raml-console-input-group">
            <input class="form-control" type="text" placeholder="Word/Phrase" name="keyword" maxlength="64" required="true"
                   ng-model="keywordGroup.keywords[$index]"
                   input-max-word-validate>
            <span class="raml-console-multi-errors col-sm-12">
              <span class="raml-console-vbs-validation-error raml-console-vbs-validation-required">Required</span>
              <span class="raml-console-vbs-validation-error raml-console-vbs-validation-many-words-error">Maximum 10 words</span>
            </span>
            <span class="input-group-btn">
              <button class="btn btn-default raml-console-keyword-remove" type="button" title="Remove word/phrase" ng-click="removeKeyword($index)" ng-if="keywordGroup.keywords.length > 1">
                <i class="fa fa-times-circle"></i>
              </button>
            </span>
          </ng-form>
        </div>

      </div>
      <button type="button" class="btn btn-link add-keyword"
              ng-click="addKeyword()" ng-show="keywordGroup.keywords.length < 32">
        <i class="fa fa-plus-circle"></i>
        Add another Word/Phrase
      </button>
    </div>
  </div>
</div>

