<div class="raml-console-main-login-form">
  <css-spinner ng-show="isInit"></css-spinner>
  <div ng-hide="isInit">
    <form name="authForm" action="" class="raml-console-login-form" novalidate ng-submit="startAuth($event)">
      <div class="raml-console-main-login-error" ng-show="formError">
        {{ formError }}
      </div>
      <div class="raml-console-vbs-validation-error raml-console-vbs-validation-required-error">
        API Key and Password are required.
      </div>
      <div>
        <input type="text"
               required="true"
               name="username"
               placeholder="API Key"
               class="raml-console-sidebar-input raml-console-sidebar-security-field raml-console-login-input"
               ng-model="credentials.username"/>
      </div>
      <div>
        <input type="password"
               required="true"
               name="password"
               placeholder="Password"
               class="raml-console-sidebar-input raml-console-sidebar-security-field raml-console-login-input"
               ng-model="credentials.password"/>
      </div>
      <div>
        <label class="raml-console-login-label">
          <input type="checkbox" class="" ng-checked="isRemember" ng-click="changeRemember()"/>
          Remember me
        </label>
      </div>
      <div>
        <button type="submit" class="raml-console-login-submit raml-console-margin-top-input">
          <span ng-show="!isLoaded">Sign In</span>
          <span ng-show="isLoaded">Signing In...</span>
        </button>
      </div>
    </form>
  </div>


</div>
