<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default" ng-if="showConsole" ng-click="loadConsoleV3()">
      <div class="panel-body">
        <i class="widget-icon fa fa-2x fa-dashboard"></i>
        <h4><a href="">API Console <span class="panel-version">v3</span></a></h4>
        Explore the VoiceBase REST API and call methods interactively.
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default" ng-if="showDoc" ng-click="loadDocV3()">
      <div class="panel-body">
        <i class="widget-icon fa fa-2x fa-file-text-o"></i>
        <h4><a href="">API Documentation <span class="panel-version">v3</span></a></h4>
        Find detailed documentation and best practices for common use cases.
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div
      class="panel panel-default"
      ng-if="showKeywordsGroups"
      ng-click="isSignedIn() &amp;&amp; loadKeywordsGroupApp()"
      ng-class="{ 'grayed-out': isSignedOut()}">
      <div class="panel-body">
        <i class="widget-icon fa fa-2x fa-search"></i>
        <h4><a href="" ng-class="{'not-clickable': isSignedOut()}">Phrase Spotting</a></h4>
        Create and manage Phrase Spotting groups for use in the API.
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div
      class="panel panel-default"
      ng-if="showKeywordsSpotting"
      ng-click="isSignedIn() &amp;&amp; loadKeywordsSpottingApp()"
      ng-class="{ 'grayed-out': isSignedOut()}">
      <div class="panel-body">
        <i class="widget-icon fa fa-2x fa-cloud-upload"></i>
        <h4><a href="" ng-class="{'not-clickable': isSignedOut()}">Phrase Spotting Demo App</a></h4>
        Try out Phrase Spotting by uploading your own content.
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div
      class="panel panel-default"
      ng-if="showMediaBrowser"
      ng-click="isSignedIn() &amp;&amp; loadMediaBrowser()"
      ng-class="{ 'grayed-out': isSignedOut()}">
      <div class="panel-body">
        <i class="widget-icon fa fa-2x fa-search"></i>
        <h4><a href="" ng-class="{'not-clickable': isSignedOut()}">Media Browser</a></h4>
        Browse previously uploaded media, transcripts, keywords, and predictions.
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div
      class="panel panel-default"
      ng-if="showNativeKeyManager()"
      ng-click="isSignedIn() &amp;&amp; loadKeyManager()"
      ng-class="{ 'grayed-out': isSignedOut()}">
      <div class="panel-body">
        <i class="widget-icon fa fa-2x fa-key"></i>
        <h4><a href="" ng-class="{'not-clickable': isSignedOut()}">Bearer Token Management</a></h4>
        Generate Bearer tokens used for API authorization to your account.
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div
      class="panel panel-default"
      ng-if="showSupport"
      ng-click="redirectToSupport()">
      <div class="panel-body">
        <i class="widget-icon fa fa-2x fa-external-link"></i>
        <h4><a href="">VoiceBase Support</a></h4>
        Visit the VoiceBase support site (this link opens a new window).
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div
      class="panel panel-default"
      ng-if="showSystemStatus"
      ng-click="redirectToSystemStatus()">
      <div class="panel-body">
        <i class="widget-icon fa fa-2x fa-external-link"></i>
        <h4><a href="">System Status</a></h4>
        We continuously monitor VoiceBase and all its related services. If there are any service interruptions, a note will be posted here.
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div
      class="panel panel-default"
      ng-if="showLegacyHybridKeyManager()"
      ng-click="isSignedIn() &amp;&amp; loadLegacyKeyManager()"
      ng-class="{ 'grayed-out': isSignedOut()}">
      <div class="panel-body">
        <i class="widget-icon fa fa-2x fa-key"></i>
        <h4><a href="" ng-class="{'not-clickable': isSignedOut()}">API Key Management</a></h4>
        Add, revoke, and manage keys used for API authorization to your account.
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12 widget-list-section">
    <div class="widget-list-section-content">
      <hr/>
      <span><span>Previous Versions</span></span>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default" ng-if="showConsole" ng-click="loadConsole()">
      <div class="panel-body">
        <i class="widget-icon fa fa-2x fa-dashboard"></i>
        <h4><a href="">API Console <span class="panel-version">v2-beta</span></a></h4>
        Explore the VoiceBase REST API and call methods interactively.
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default" ng-if="showDoc" ng-click="loadDoc()">
      <div class="panel-body">
        <i class="widget-icon fa fa-2x fa-file-text-o"></i>
        <h4><a href="">API Documentation <span class="panel-version">v2-beta</span></a></h4>
        Find detailed documentation and best practices for common use cases.
      </div>
    </div>
  </div>
</div>
