<div class="raml-console-vbs-sign-container">
  <div ng-if="consoleView">
    <a class="raml-console-meta-button" ng-if="!signed" ng-click="signIn()">
      <span ng-show="!isLoaded">Sign In</span>
      <span ng-show="isLoaded">Signing In...</span>
    </a>
    <a class="raml-console-meta-button" ng-if="signed" ng-click="signOut()">
      Sign Out
    </a>
  </div>

  <div ng-if="!consoleView">
    <button type="button" class="btn btn-danger navbar-btn navbar-right" ng-if="!signed" ng-click="signIn()">
      <span ng-show="!isLoaded">Sign In</span>
      <span ng-show="isLoaded">Signing In...</span>
    </button>
    <button type="button" class="btn btn-danger navbar-btn navbar-right" ng-if="signed" ng-click="signOut()">
      Sign Out
    </button>
  </div>

  <voicebase-auth-form></voicebase-auth-form>
</div>
