.vbs-keyword-group-widget-container {
  float: left;
  position: relative;

  .vbs-popup {
    width: 400px;
    height: auto;

    .vbs-popup-body {
      padding: 15px;
      .panel {
        margin: 0;
      }
    }
  }

  .spinner {
    margin: 15px auto;

    &::after {
      content: ''
    }
  }

  .error-message {
    color: $color-console-tab-delete;
  }

  .item-heading {
    color: #85D04A !important;
    margin: 5px 0;
  }

  .add-group {
    cursor: pointer;
  }
}

.keywords-group-list {

  .keywords-group-list-item {
    cursor: pointer;

    .spinner {
      width: auto;
      height: 19px;
      margin: 5px;
    }

    .keywords-group-remove {
      position: absolute;
      right: 0;
      top: 50%;
      display: block;
      font-size: 20px;
      line-height: 20px;
      margin-top: -30px;
      color: #BBB;
      padding: 20px;
      transition: color 0.3s ease;

      &:hover {
        color: #D9534F;
      }
    }
  }

  .keywords-group-name {
    color: #0079C0!important;
  }

  .keywords-group-list-item-form {
    clear: both;
  }
}

.popup-body-toolbar {
  float: right;
}

.keywords-list-container {
  max-height: 180px;
  overflow-y: auto;
  padding-right: 15px;
}

.clearfix {
  clear: both;
}

.keywords-group-list-item-toolbar,
.popup-body-toolbar {

  .spinner {
    width: auto;
    height: 19px;
    margin: 5px;
  }
}

.keywords-pagination {
//  padding-top: 15px;
}

.keywords-group-name,
.popup-body-toolbar a,
a.icon {
  text-decoration: none;

}

.meta-button {
  text-decoration: none;
}

.keyword-label {
  font-weight: 700;
  font-size: 14px;
  color: $color-console-heading-text;
}

.input-group {
  margin-bottom: 15px;

  button {
    line-height: 20px;
  }

}

.modal {

  .modal-header {
    background-color: $color-console-documentation-contents;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;

    .modal-title {
      font-weight: 500;
      line-height: 1.1;
      color: $color-console-heading-text;
    }
  }

  .modal-footer {
    background-color: $color-console-documentation-contents;
    text-align: center;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;

  }

}
