.login-page-container {
  background: #242f3e;
  color: #6e7e95;

  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 9999;
  box-sizing: border-box;
  overflow: auto;

  a {
    text-decoration: none;
    color: #fff;

    &:hover {
      text-decoration: underline;
    }
  }

  .login-header {
    display: table;
    width: 100%;
    padding: 18px;
    font-size: 14px;

    .login-header-right {
      float: right;
    }

    .login-header-left {
      float: left;
    }

    .login-header-btn {
      display: table-cell;
      vertical-align: middle;
      height: 44px;
      color: #FFF;
      text-decoration: none;
      border: 1px solid #FFF;
      border-radius: 3px;
      text-align: center;
      font-size: 18px;
      font-weight: bold;
      width: 180px;
      padding: 5px;

      &:hover {
        background: #fff;
        color: #242f3e;
        transition: all 250ms ease-out;
      }
    }

    .login-header__logo img {
      height: 34px;
      margin-top: 5px;
    }

    .skip-console-btn {

      .spinner {
        margin: 0 20px;
        width: auto;
        height: 19px;

        > div {
          background-color: #fff;
        }

        &::after {
          content: ''
        }
      }

      &:hover {
        .spinner {
          > div {
            background-color: #242f3e!important;
          }
        }
      }
    }

  }


  .login-content {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    .brand-label {
      letter-spacing: 0.3em;
      margin-bottom: 25px;
    }

    .login-form {
      width: 280px;
      margin: auto;
    }

    .login-submit {
      background: #79C15C;
      color: #FFF;
      width: 100%;
      height: 44px;
      border: none;
      border-radius: 3px;
      font-weight: bold;

      &:hover {
        transition: background-color 250ms ease-out;
        background: #4CA329;
      }
    }

    .login-input {
      height: 44px;
    }

    .login-label {
      color: #fff;
      margin-top: 5px;
    }

    .spinner {
      margin: 0 auto;

      > div {
        background-color: #fff;
      }

      &::after {
        content: ''
      }
    }

  }

  .wait-list-page-content {
  }

  main-login {
    display: table;
    margin-bottom: 30px;
  }

  .create-account-link {
    padding: 5px;
    border-bottom: 1px solid #fff;

    &:hover {
      text-decoration: none!important;
    }
  }

  .confirm-email-container,
  .approve-email-container {
    h1,
    h3,
    .description {
      color: #fff;
    }

    h3 {
      margin-top: 25px;
    }

    .description--big {
      font-size: 24px;
      margin-bottom: 100px;
    }

    .help-support {
      color: #fff;
      margin-top: 75px;
    }
  }

  .approve-email-container {
    width: 800px;
  }
}

.margin-content {
  margin: 0 16px;
}

.margin-top-input {
  margin-top: 18px;
}

.vbs-success-message {
  color: #4CA329;
  border: solid #4CA329;
  border-width: 1px 0;
  padding: 15px 0;
  margin-bottom: 18px;
}

.remember-toggle {
  display: table;
  margin: auto;
  margin-bottom: 5px;
}

@media screen and (max-width: 980px) {

  .login-page-container {

    .login-header {
      .login-header-btn {
        width: 100px;
      }
    }

    .login-content {
      top: 100px;
      left: 50%;
      -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
      transform: translate(-50%, 0);

    }
  }

}

