.dashboard-page {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;

  padding-top: 80px;

  a {
    color: #0079c0;
    text-decoration: none;

    &:focus,
    &:hover {
      color: #23527C;
      text-decoration: underline;
    }

  }

  h3 {
    font-size: 24px;
  }

  h4 {
    font-size: 18px;
  }

  .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
  }

  small {
    font-size: 85%;
  }

  .text-muted {
    color: #777;
  }

  .sidebar {
    h3 {
      margin-top: 0;
    }

    .lead {
      margin-bottom: 10px;
      font-size: 18px;
    }
  }

  .panel {
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      border-color: #0079c0;
    }

    h4 {
      margin-top: 0;
      font-size: 16px;

      a {
        text-decoration: none;
      }
    }

    .panel-body {
      padding-left: 55px;
      position: relative;

      .widget-icon {
        position: absolute;
        left: 15px;
        top: 15px;
        color: #85d04a;
      }

      ul {
        margin-bottom: 0;
        padding-left: 0;
        list-style: none;
      }
    }

  }

}

@media (min-width: 768px) {
  .dashboard-page {
    padding-top: 110px;
  }

  .panel {
    margin-bottom: 30px;
  }

}

@media (max-width: 767px) {
  .dashboard-page {

    .panel {
      margin-bottom: 10px;
    }
  }
}

@media screen and (max-width: 767px) {
}

.keyword-config-page {
  .raml-console-vbs-keyword-group-widget-container {
    float: none;

    .raml-console-vbs-popup {
      border: 0;
      background: transparent;
      box-shadow: none;
      position: relative;
      top: 0;
      left: 0;
      width: 100%;

      .raml-console-vbs-popup-body {
        padding: 0;
      }
    }

    h4 {
      font-size: 18px;
      margin-top: 5px;
    }

    h3 {
      font-size: 16px;
    }

  }

  .raml-console-error-message {
    font-size: 18px;
    padding: 15px;
    color: #D14956;
  }

  .panel {
    border: 1px solid #DDD;

    &:hover {
      border: 1px solid #DDD;
      box-shadow: none;
    }

    a {
      text-decoration: none;

      &:hover {
        text-decoration: none;
      }

      small {
        color: #555;
      }
    }

  }

}

.tooltip {
  font-size: 13px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.vbs-portal-navbar.navbar {
    background: #333;

}

@media (min-width: 768px) {
  .vbs-portal-navbar.navbar {
    min-height: 80px;
    padding-top: 15px;

    .navbar-right {
      margin-left: 15px;
      margin-right: 0;
    }

    .navbar-brand img {
      height: 34px;
      width: auto;
      margin-top: -4px;
    }

    .raml-console-vbs-sign-container {
      float: none;

      .raml-console-vbs-token-auth-form {
        right: 15px;
        left: inherit;
        top: 95px;
      }
    }

  }

}

@media (max-width: 767px) {
  .vbs-portal-navbar.navbar {
    .navbar-brand {
      padding-right: 0!important;

      img {
        width: 240px;
        height: auto;
      }
    }

    .raml-console-vbs-sign-container {
      .raml-console-vbs-token-auth-form {
        left: 5px;
        position: static;
        box-shadow: none;
      }
    }
  }

}

.console-section {
  position: relative;
  top: 80px;
}

.raml-console-title {
  padding-top: 30px;
}

.keywords-spotting {
  padding: 15px;
  cursor: default !important;

  .drop-box {
    width: 100%;
    min-height: 50px;
    border: 1px dashed #CCC;
    border-radius: 0;
    padding: 7px;
    background-color: #FFF;
    transition: background-color .01s linear .01s;

    &.dragover {
      background-color: #F5F5F5;
    }

    &.drop-box__disabled {
      background-color: #DFDFDF;
      cursor: not-allowed;
    }

  }

  .drop-box-inner__disabled {
    opacity: 0.5;
  }

  .raml-console-spinner {
    margin: 15px auto;
    float: left;
    height: 35px;
  }

  .create-group-loader,
  .groups-loader,
  .media-upload-loader,
  .media-processing-loader {
    display: flex;
    justify-content: center;
    margin: 15px 0;
  }

  .media-processing-loader {
    margin-bottom: 35px;
  }

  .media-upload-loader .raml-console-spinner:after {
    content: 'Uploading file..';
  }

  .media-processing-loader .raml-console-spinner:after {
    content: 'Processing file..';
  }

  .groups-loader .raml-console-spinner:after {
    content: 'Loading groups..';
  }

  .create-group-loader .raml-console-spinner:after {
    content: 'Creating..';
  }

  .drop-box-text {
    text-align: center;
    display: table;
    margin: auto;
  }

  .drop-box-all-preview {
    display: table;
    margin: auto;
  }

  .drop-box-preview {
    display: table-row;
  }

  .drop-box-preview__cell {
    display: table-cell;
    padding: 15px;
  }

  .drop-box-text__icon {
    padding: 3px;
    float: left;
  }

  .drop-box-text__label {
    padding: 7px;
    float: left;
  }

  .drop-box-text__file-header {
    text-align: right;
    font-weight: bold;
    max-width: 160px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .drop-box-text__file-buttons {
    .close {
      float: none;
      font-size: 16px;
    }
  }

  .drop-box-text__file-name {
    margin: auto;
  }

  .media-preview-container {
    margin: 0;
  }

  .media-preview {
    max-width: 300px;
    vertical-align: middle;
  }

  .spotting-results {
    .panel {
      margin-bottom: 15px;
    }

    .panel-body {
      padding: 15px;
    }

    .spotting-results_empty {
      color: #D14956;
    }

    .spotting-results__group-title {
      font-weight: bold;
    }
  }

}

@media (max-width: 600px) {
  .keywords-spotting {
    .drop-box-all-preview {
      display: block;
    }

    .drop-box-preview {
      position: relative;
      display: table;
      margin: auto;
    }

    .drop-box-text__file-header {
      display: block;
      float: left;
    }

    .media-preview-container {
      display: block;
      float: left;
      clear: both;
    }

    .drop-box-text__file-buttons {
      display: block;
      float: right;
      position: absolute;
      right: 0;
    }
  }
}

.key-manager {
  padding: 15px;
  cursor: default !important;

  .panel .panel-body {
    padding: 0 0 15px;
  }

  .raml-console-spinner {
    margin: 35px auto;
    height: 35px;
  }

  .users-list {
    .raml-console-spinner:after {
      content: 'Loading users..';
    }
  }

  .add-user-token__loader {
    .raml-console-spinner {
      margin: 0;
      height: 20px;
    }

    .raml-console-spinner:after {
      content: '';
    }
  }

  .add-user-token {
    color: #85D04A;
  }

  .user-info {
    cursor: default;

    .raml-console-spinner:after {
      content: 'Loading tokens..';
    }
  }

  .user-info__token-row {
    display: table;
    width: 100%;
    table-layout: fixed;
  }

  .user-info__token-row_highlight {
    background-color: #FCF8E3;
  }

  .user-info__token-name,
  .user-info__token-actions {
    display: table-cell;
    vertical-align: middle;
  }

  .user-info__token-name {
    width: 95%;
    overflow-x: auto;
//    white-space: nowrap;
  }

  .user-info__token-actions {
    width: 5%;
    text-align: right;
  }

  .user-info__token-actions__remove i {
    font-size: 20px;
    line-height: 20px;
    color: #BBB;
    transition: color 0.3s ease;

    &:hover {
      color: #D9534F;
    }

  }

  .raml-console-vbs-token-auth-form {
    position: inherit;
    background: transparent;
    border: 0;
    box-shadow: none;

    .raml-console-vbs-auth-form-btns {
      padding: 0;
    }
  }
}

