@mixin validError() {
  color: #B35555;
  border: solid #B35555;
  border-width: 1px 0;
  padding: 15px 0;
  margin-bottom: 18px;
}

@mixin standartError() {
  color: #FFF;
  position: absolute;
  margin-top: -2px;
  font-size: 13px;
  background-color: #F00;
  width: 100%;
  text-align: center;
}

.raml-console-vbs-validation-error {
  display: none;
}

.raml-console-main-login-error {
  @include validError();
  font-size: 17px;
}

form.checkDirty.ng-dirty {
  &.ng-invalid-required {
    .raml-console-vbs-validation-required-error {
      @include validError();
      display: block!important;
    }
  }

  &.ng-invalid-email {
    .raml-console-vbs-validation-wrong-email-error {
      @include validError();
      display: block!important;
    }
  }

}

.raml-console-multi-errors {
  padding: 0;
}

input.ng-dirty.ng-invalid-many-words + .raml-console-multi-errors {
  .raml-console-vbs-validation-many-words-error {
    @include standartError();
    display: block!important;
  }
}

input.ng-dirty.ng-invalid-required + .raml-console-multi-errors {
  .raml-console-vbs-validation-required {
    @include standartError();
    display: block!important;
  }
}

.raml-console-bootstrap-error.raml-console-field-validation-error {
  margin-bottom: 15px;

  &::after {
    margin-top: -2px !important;
    left: 0;
  }
}
