.dashboard-page,
.widget-page,
.keywords-spotting,
.media-browser {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  padding-top: 80px;

  .raml-console-error-message {
    font-size: 18px;
    padding: 15px;
    color: #D14956;
  }

  .widget-list-section {
    text-align: center;

    span {
      background: #eee;
      position: relative;
      padding:3px;

      span {
        background-color: #737373;
        letter-spacing: 1px;
        color: transparent;
        font-size: 120%;
        font-weight: bold;
        position: relative;
        text-shadow: 0px 1px 1px rgba(255,255,255,0.5);
        -webkit-background-clip: text;
           -moz-background-clip: text;
                background-clip: text
      }
    }

    hr {
      height: 2px;
      position: absolute;
      width: 100%;
      top: 50%;
      margin-top: -1px;
      border: 0;
      background-color: transparent;
      background-image: linear-gradient(left, rgba(255, 255, 255, 0), #fff, rgba(255, 255, 255, 0));
      background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0), #fff, rgba(255, 255, 255, 0));
      background-image: -moz-linear-gradient(left, rgba(255, 255, 255, 0), #fff, rgba(255, 255, 255, 0));
      background-image: -ms-linear-gradient(left, rgba(255, 255, 255, 0), #fff, rgba(255, 255, 255, 0));
      background-image: -o-linear-gradient(left, rgba(255, 255, 255, 0), #fff, rgba(255, 255, 255, 0));
    }

    hr::after {
      content: '';
      display: block;
      height: 1px;
      background-color: transparent;
      background-image: linear-gradient(left, rgba(255, 255, 255, 0), #fff, rgba(255, 255, 255, 0));
      background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0), #c3c3c3, rgba(255, 255, 255, 0));
      background-image: -moz-linear-gradient(left, rgba(255, 255, 255, 0), #c3c3c3, rgba(255, 255, 255, 0));
      background-image: -ms-linear-gradient(left, rgba(255, 255, 255, 0), #c3c3c3, rgba(255, 255, 255, 0));
      background-image: -o-linear-gradient(left, rgba(255, 255, 255, 0), #c3c3c3, rgba(255, 255, 255, 0));
    }

  }

  .panel {
    cursor: pointer;
    transition: all 0.3s ease;
    border: 1px solid #DDD;
    overflow: hidden;

    &:hover {
      border: 1px solid #DDD;
      box-shadow: none;
    }

    a {
      text-decoration: none;

      &:hover {
        text-decoration: none;
      }

      small {
        color: #555;
      }
    }

    h4 {
      margin-top: 0;
      font-size: 16px;

      .panel-version {
        color: #85d04a;
      }

      a {
        text-decoration: none;
      }
    }

    .panel-body {
      padding-left: 55px;
      position: relative;

      .corner-ribbon {
        width: 200px;
        background: #85d04a;
        position: absolute;
        top: 20px;
        right: -65px;
        text-align: center;
        padding: 5px 0;
        z-index: 1;
        font-size: 80%;
        color: #f0f0f0;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
      }

      ul {
        margin-bottom: 0;
        padding-left: 0;
        list-style: none;
      }

    }

  }

  .sidebar {
    h3 {
      margin-top: 0;
    }

    .lead {
      margin-bottom: 10px;
      font-size: 18px;
    }
  }

  a {
    color: #0079c0;
    text-decoration: none;

    &:focus,
    &:hover {
      color: #23527C;
      text-decoration: underline;
    }

  }

  h3 {
    font-size: 24px;
  }

  h4 {
    font-size: 18px;
  }

  .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
  }

  small {
    font-size: 85%;
  }

  .text-muted {
    color: #777;
  }

}

@media (min-width: 768px) {
  .dashboard-page,
  .widget-page,
  .keywords-spotting,
  .media-browser {
    padding-top: 110px;

    .panel, .widget-list-section, .sidebar {
      margin-bottom: 30px;
    }

  }
}

@media (max-width: 767px) {
  .dashboard-page,
  .widget-page,
  .keywords-spotting,
  .media-browser {

    .panel, .widget-list-section, .sidebar {
      margin-bottom: 10px;
    }
  }
}


.dashboard-page {

  .panel {

    &:hover {
      border-color: #0079c0;
    }

    .panel-body {

      .widget-icon {
        position: absolute;
        left: 15px;
        top: 15px;
        color: #85d04a;
      }
    }

  }
}

.tooltip {
  font-size: 13px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.vbs-portal-navbar.navbar {
    background: #333;
}

@media (min-width: 768px) {
  .vbs-portal-navbar.navbar {
    min-height: 80px;
    padding-top: 15px;

    .navbar-right {
      margin-left: 15px;
      margin-right: 0;
    }

    .navbar-brand img {
      height: 34px;
      width: auto;
      margin-top: -4px;
    }

    .raml-console-vbs-sign-container {
      float: none;

      .raml-console-vbs-token-auth-form {
        right: 15px;
        left: inherit;
        top: 95px;
      }
    }

  }

}

@media (max-width: 767px) {
  .vbs-portal-navbar.navbar {
    .navbar-brand {
      padding-right: 0!important;

      img {
        width: 240px;
        height: auto;
      }
    }

    .raml-console-vbs-sign-container {
      .raml-console-vbs-token-auth-form {
        left: 5px;
        position: static;
        box-shadow: none;
      }
    }
  }

}

.console-section {
  position: relative;
  top: 80px;
}

.raml-console-title {
  padding-top: 30px;
}

.keywords-spotting {
  padding: 15px;
  cursor: default !important;

  .drop-box {
    width: 100%;
    min-height: 50px;
    border: 1px dashed #CCC;
    border-radius: 0;
    padding: 7px;
    background-color: #FFF;
    transition: background-color .01s linear .01s;

    &.dragover {
      background-color: #F5F5F5;
    }

    &.drop-box__disabled {
      background-color: #DFDFDF;
      cursor: not-allowed;
    }

  }

  .drop-box-inner__disabled {
    opacity: 0.5;
  }

  .raml-console-spinner {
    margin: 15px auto;
    float: left;
    height: 35px;
  }

  .create-group-loader,
  .groups-loader,
  .media-upload-loader,
  .media-processing-loader {
    display: flex;
    justify-content: center;
    margin: 15px 0;
  }

  .media-processing-loader {
    margin-bottom: 35px;
  }

  .media-upload-loader .raml-console-spinner:after {
    content: 'Uploading file..';
  }

  .media-processing-loader .raml-console-spinner:after {
    content: 'Processing file..';
  }

  .groups-loader .raml-console-spinner:after {
    content: 'Loading groups..';
  }

  .create-group-loader .raml-console-spinner:after {
    content: 'Creating..';
  }

  .drop-box-text {
    text-align: center;
    display: table;
    margin: auto;
  }

  .drop-box-all-preview {
    display: table;
    margin: auto;
  }

  .drop-box-preview {
    display: table-row;
  }

  .drop-box-preview__cell {
    display: table-cell;
    padding: 15px;
  }

  .drop-box-text__icon {
    padding: 3px;
    float: left;
  }

  .drop-box-text__label {
    padding: 7px;
    float: left;
  }

  .drop-box-text__link {
    &:hover {
      text-decoration: underline !important;
    }
  }

  .drop-box-text__file-header {
    text-align: right;
    font-weight: bold;
    max-width: 160px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .drop-box-text__file-buttons {
    .close {
      float: none;
      font-size: 16px;
    }
  }

  .drop-box-text__file-name {
    margin: auto;
  }

  .media-preview-container {
    margin: 0;
  }

  .media-preview {
    max-width: 300px;
    vertical-align: middle;
  }

  .spotting-results {
    .panel {
      margin-bottom: 15px;
    }

    .panel-body {
      padding: 15px;
    }

    .spotting-results_empty {
      color: #D14956;
    }

    .spotting-results__group-title {
      font-weight: bold;
    }
  }

}

@media (max-width: 600px) {
  .keywords-spotting {
    .drop-box-all-preview {
      display: block;
    }

    .drop-box-preview {
      position: relative;
      display: table;
      margin: auto;
    }

    .drop-box-text__file-header {
      display: block;
      float: left;
    }

    .media-preview-container {
      display: block;
      float: left;
      clear: both;
    }

    .drop-box-text__file-buttons {
      display: block;
      float: right;
      position: absolute;
      right: 0;
    }
  }
}

.key-manager {
  padding: 15px;
  cursor: default !important;

  .panel .panel-body {
    padding: 0 0 15px;
  }

  .raml-console-spinner {
    margin: 35px auto;
    height: 35px;
  }

  .users-list {
    .raml-console-spinner:after {
      content: 'Loading users..';
    }
  }

  .add-user-token__loader,
  .remove-token__loader {
    .raml-console-spinner {
      margin: 0;
      height: 20px;
    }

    .raml-console-spinner:after {
      content: '';
    }
  }

  .add-user-token {
    color: #85D04A;
  }

  .user-info {
    cursor: default;

    .raml-console-spinner:after {
      content: 'Loading tokens..';
    }
  }

  .remove-token__loader {
    margin: 0 auto;
    display: table;

    .raml-console-spinner:after {
      content: '';
    }
  }

  .user-info__token-row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .user-info__token-row_highlight {
    background-color: #FCF8E3;
  }

  .user-info__token-name {
    width: 95%;
    overflow-x: auto;
    overflow-y: hidden;
    margin-bottom: 0;
  }

  .user-info__token-actions {
    width: 5%;
    text-align: right;
  }

  .user-info__token-actions__remove i {
    font-size: 20px;
    line-height: 20px;
    color: #BBB;
    transition: color 0.3s ease;

    &:hover {
      color: #D9534F;
    }

  }

  .raml-console-vbs-token-auth-form {
    position: inherit;
    background: transparent;
    border: 0;
    box-shadow: none;

    .raml-console-vbs-auth-form-btns {
      padding: 0;
    }
  }
}

.auth0-key-manager,
.auth0-key-generator {
  .text-warning {
    color: #a94442;
  }

  .copy-button {
  }

  .generate-container {
    display: flex;
  }

  h4 {
    margin: 10px 0 !important;
  }

  .generate-button {
    margin-left: 5px;
  }

  .keys-list-container {
    max-height: 300px;
    overflow: auto;
    cursor: inherit;
  }

  .tooltip-icon {
    cursor: pointer;
    margin-left: 5px;
  }

  .raml-console-spinner {
    margin: 35px auto;
    height: 35px;
  }

  .table-sort-header {
    cursor: pointer;
  }
}

.auth0-key-manager {
  .raml-console-spinner {
    margin: 55px auto;
    &:after {
      content: 'Loading API keys..';
    }
  }

  &_heading {
    display: table;
    width: 100%;
  }

  .section-title {
    margin: 0 0 20px;
    float: left;
    line-height: 30px;
  }

  .table th, .table td {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }

  .table th {
    background: #f9f9f9;
    border-bottom-width: 1px !important;
    color: #999;
    font-size: 11px;
    line-height: 20px !important;
  }
  .table th i {
    font-size: 14px;
    margin-left: 4px;
  }

  code {
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
  }

  .auth0-add-key-form {
    .well {
      padding: 15px;
      background: #e9e9e9;
      border-color: #ddd;
    }

    .form-group {
      max-width: 300px;
    }
    .form-group:last-child {
      margin: 0;
    }

    hr {
      margin: 15px -15px;
      border: 0;
      border-top: 1px solid #ddd;
    }

    .btn-group {
      margin-bottom: 15px;
    }

    .btn i {
      margin-right: 4px;
    }
  }

}

.auth0-key-generator {
  .raml-console-spinner {
    margin: 50px auto;
  }

  .raml-console-spinner:after {
    content: 'Generating API key..';
  }
}

// Change submit button color of auth0 form
.auth0-lock-container {
  .auth0-lock-submit {
    background-color: #95e05a !important;
  }

  .auth0-lock-sign-up-terms-agreement a {
    text-decoration: underline !important;

    &:hover {
      color: #31519A !important;
    }
  }
}

.media-browser {
  padding: 15px;

  .raml-console-spinner {
    margin: 35px auto;
    height: 35px;
  }

  .media-loader {
    .raml-console-spinner:after {
      content: 'Loading media..';
    }
  }

}

.vocabulary {

  .panel-body {
    padding: 15px !important;
  }

}
.alternate-login-link {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  margin: 20px auto 0;
  color: #337ab7;

  &:hover {
    text-decoration: underline !important;
  }
}

.auth0-lock-badge {
  display: none !important;
}

.auth0-lock-overlay {
  background: none !important;
}

.grayed-out {
  opacity: 0.6;
  cursor: not-allowed !important;
}

.not-clickable {
  cursor: not-allowed !important;
}
