.dashboard-page {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;

  padding-top: 80px;

  a {
    color: #0079c0;
    text-decoration: none;

    &:focus,
    &:hover {
      color: #23527C;
      text-decoration: underline;
    }

  }

  h3 {
    font-size: 24px;
  }

  h4 {
    font-size: 18px;
  }

  .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
  }

  small {
    font-size: 85%;
  }

  .text-muted {
    color: #777;
  }

  .navbar {
    background: #333;
  }

  .sidebar {
    h3 {
      margin-top: 0;
    }

    .lead {
      margin-bottom: 10px;
      font-size: 18px;
    }
  }

  .panel {
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      border-color: #0079c0;
    }

    h4 {
      margin-top: 0;
      font-size: 16px;

      a {
        text-decoration: none;
      }
    }

    .panel-body {
      padding-left: 55px;
      position: relative;

      i {
        position: absolute;
        left: 15px;
        top: 15px;
        color: #85d04a;
      }

      ul {
        margin-bottom: 0;
        padding-left: 0;
        list-style: none;
      }
    }

  }

  .raml-console-vbs-sign-container {
    float: none;

    .raml-console-vbs-token-auth-form {
      right: 15px;
      left: inherit;
      top: 95px;
    }
  }

}

@media (min-width: 768px) {
  .dashboard-page {
    padding-top: 110px;
  }

  .navbar {
    min-height: 80px;
    padding-top: 15px;

    .navbar-right {
      margin-left: 15px;
      margin-right: 0;
    }

    .navbar-brand img {
      height: 34px;
      width: auto;
      margin-top: -4px;
    }
  }

  .panel {
    margin-bottom: 30px;
  }

}

@media (max-width: 767px) {
  .dashboard-page {
    .navbar .navbar-brand img {
      width: 240px;
      height: auto;
    }

    .panel {
      margin-bottom: 10px;
    }
  }
}


.keyword-config-page {
  .raml-console-vbs-keyword-group-widget-container {
    float: none;

    .raml-console-vbs-popup {
      border: 0;
      background: transparent;
      box-shadow: none;
      position: relative;
      top: 0;
      left: 0;
      width: 100%;

      .raml-console-vbs-popup-body {
        padding: 0;
      }
    }

    h4 {
      font-size: 18px;
      margin-top: 5px;
    }

    h3 {
      font-size: 16px;
    }

  }

  .panel {
    border: 1px solid #DDD;

    &:hover {
      border: 1px solid #DDD;
      box-shadow: none;
    }

    a {
      text-decoration: none;

      &:hover {
        text-decoration: none;
      }

      small {
        color: #555;
      }
    }

  }

}
