form.checkDirty.ng-dirty.ng-invalid-required .raml-console-main-login-validation-error {
  display: block!important;
  color: #B35555;
  border: solid #B35555;
  border-width: 1px 0;
  padding: 15px 0;
  margin-bottom: 18px;
}
